* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#navbar {
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#navbar.scrolled {
    backdrop-filter: blur(30px);
}

#ul-navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: fit-content;
    margin: 0px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-title {
    font-size: 150%;
    margin-right: 100px;
    font-weight: bold;
}

.li-navbar {
    background-color: transparent;
    float: left;
}

.li-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-navbar a:hover {
    color: #ccc;
}

#top-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#name-section {
    text-align: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#pfp {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 7px solid white;
}

#about {
    background-color: blue;
    width: 1000px;
    height: 1000px;
    color: white;
    text-align: center;
    margin: auto;
}

#about-name {
    background-color: darkgreen;
    font-size: 175%;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
}

#about-tagline {
    background-color: red;
    margin: auto;
    width: fit-content;
    margin-bottom: 10px;
    font-size: 125%;
}

#about-text {
    background-color: black;
    width: 800px;
    margin: auto;
    line-height: 1.5;
}
