* {
    margin: 0;
    padding: 0;
    font-family: Consolas, monaco, monospace
}

body {
    background-color: #333;
}

#ul-navbar {
    background-color: salmon;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    width: fit-content;
    margin: 20px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-title {
    font-size: 200%;
    margin-right: 100px;
    font-weight: bold;
}

.li-navbar {
    background-color: transparent;
    float: left;
}

.li-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-navbar a:hover {
    color: lime;
}

